name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun lint
  build-macos-arm:
    name: build-macos-arm
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun run build
  build-macos-intel:
    name: build-macos-intel
    runs-on: macos-intel-15
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun run build
  build-linux-x64:
    name: build-linux-x64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun run build
  build-linux-arm:
    name: build-linux-arm
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun run build
  build-windows-x64:
    name: build-windows-x64
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun run build
  build-windows-arm:
    name: build-windows-arm
    runs-on: windows-11-arm
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun run build
